<h1 class="text-center page-heading">{{AUStaticData.pageHeading}}</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<h3 class="description">
		<p>{{AUStaticData.aboutusBrief}}</h3>
		<div class="aboutUs">
	<h2 class="heading">{{AUStaticData.ongoingProject.headingLabel}}</h2>
	<ul>
		<li ng-repeat="item in AUStaticData.ongoingProject.contentList">{{item}}</li>
	</ul>
	<h3>{{AUStaticData.conpanyStrategy.headingLabel}}</h3>
	<ul>
		<li ng-repeat="item in AUStaticData.conpanyStrategy.contentList">{{item}}</li>
	</ul>
	<h3 class="heading">{{AUStaticData.facilities.headingLabel}}</h3>
	<ul>
		<li ng-repeat="item in AUStaticData.facilities.contentList">{{item}}</li>
	</ul>
</div>
</div>