<h1 class="text-center page-heading">{{ADStaticData.pageHeading}}</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="mepDescription">
		<h2 class="text-center">{{ADStaticData.civilSectionHeading}}</h2>
		<h3 class="text-center">{{ADStaticData.civilSubHeading}}</h3>
		<div class="col-lg-6 col-md-6 left-imp-points">
			<ul>
				<li ng-repeat="item in ADStaticData.civilDesciption">{{item}}</li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 working-guidlines">
			<h3>Working Guidelines</h3>
			<ol>
				<li ng-repeat="item in ADStaticData.civilWorkingGuideline">{{item}}</li>
			</ol>
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 action-button">
	<button class="btn btn-architectural" data-toggle="modal" data-target="#architecturalPlanning">{{ADStaticData.buttonLabel}}</button>
</div>
<request-design class="modal fade" id="architecturalPlanning" tabindex="-1" role="dialog" aria-labelledby="architecturalPlanningLabel"
    aria-hidden="true"></request-design>
<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="mepServices">
		<h2 class="text-center">{{ADStaticData.mepSectionHeading}}</h2>
		<h3 class="text-center">{{ADStaticData.mepSectionSubheading}}</h3>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="mepServicesCards">
		<h3 class="text-center">{{ADStaticData.constructionSection.headingLabel}}</h3>
		<p>{{ADStaticData.constructionSection.textContent}}</p>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="mepServicesCards">
		<h3 class="text-center">{{ADStaticData.mechanicalSection.headingLabel}}</h3>
		<ul>
			<li ng-repeat="item in ADStaticData.mechanicalSection.contentList">{{item}}</li>
		</ul>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="mepServicesCards">
		<h3 class="text-center">{{ADStaticData.electricWorkSection.headingLabel}}</h3>
		<p>This includes...</p>
		<ul>
			<li ng-repeat="item in ADStaticData.electricWorkSection.contentList">{{item}}</li>
		</ul>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="mepServicesCards">
		<h3 class="text-center">{{ADStaticData.plumbingSection.headingLabel}}</h3>
		<ul>
			<li ng-repeat="item in ADStaticData.plumbingSection.contentList">{{item}}</li>
		</ul>
	</div>
</div>

<div class="col-lg-4 col-md-4">
	<div class="mepServicesCards">
		<h3 class="text-center">{{ADStaticData.otherWorkSection.headingLabel}}</h3>
		<ul>
			<li ng-repeat="item in ADStaticData.otherWorkSection.contentList">{{item}}</li>
		</ul>
	</div>
</div>