<h1 class="text-center page-heading">{{CUStaticData.pageHeading}}</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="contactInfo">
		<h2>{{CUStaticData.tableData.headerLabel}}</h2>
		<p>{{CUStaticData.tableData.descriptionText}}</p>
		<table class="table contact-table">
			<tbody>
				<tr ng-repeat="row in CUStaticData.tableData.tableRows">
					<td>{{row.tableHeader}}</td>
					<td>{{row.tableValue}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 map-location">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.7544623259064!2d77.27855881525883!3d28.726883082380677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cff3a917ee601%3A0x56a8cde5065d3a26!2sSDT+Steel+Design+Pvt+ltd!5e0!3m2!1sen!2sin!4v1528644193487" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>