<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
	<h1 class="text-center">Privacy policy - terms &amp; condition</h1>
	<p>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.<br>
		By visiting this Website you agree to be bound by the terms and conditions of this Privacy Policy</p>
		<ol type='I' start="1">
			<li>During the buying of product, we collect and store your personal information which is shared by you. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience to provide services that most likely meet your needs to make your experience safer and easier</li>
			<li>If you transact with us, we collect some additional information, such as a billing address, tracking information from cheques or money orders. our executive will contact you for smooth delivery of products & payment collection</li>
			<li>We use your personal information to resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates</li>
			<li>We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent</li>
			<li>The goods once sold not be taken back (No refund - No exchange).</li>
			<li>Products specification, dimensions , warranty periods only as mentioned in offer or in a technical drawing catalogue provided by company quotation and approved by client</li>
			<li>We request payment of an advance amount equivalent to 100% value of the order, the payment mode – should be cash , cheque, NEFT , RTGs</li>
			<li>Installation, loading ,un-loading , site visit,  transportation of equipment charges shall be extra or as per current offer and will also be mentioned in quotation.</li>
			<li>The equipment will be delivered within time period as mentioned in the order/confirmation copy(may change as per equipment quantity & availability) subject to however to receipt of advance amount and duly approved drawing along with the purchase order</li>
			<li>Proper billing and taxes will be applicable as per govt. norms under state and central taxation system.</li>
			<li>For any query/complaint/suggestions, please write us @ STEELDESIGNTECHNOLOGIES@GMAIL.COM</li>
			<li>Copyrights: Unless otherwise indicated all site content including published/non-published content materials all designs,text, graphics, other filesare the copyrighted property of the company. You can use its content electronically for non-commercial and informationak purpose only. Any other use of the site content in any form including commerical use, reproduction for purpose other than described above, modification, distribution, republication, display or performance without prior written permission from SDT STEELDESIGN PVT LTD is strictly prohibited.</li>
			<li>All disputes are subject to Delhi Jurisdiction only</li>
		</ol>
		<h1 class="text-center">FAQ</h1>
			<p><b>Que1: Is installation offered for all products at free of cost?</b></p>
			<p><b>Ans. </b>It depends on the product & also mentioned in Performa  invoice/confirmation order e-copy of product will be sent by company after placing the order by customer.</p>

			<p><b>Que2: Can I call direct to company for enquiry of product?</b></p>
			<p><b>Ans. </b>Yes, Any time you can call/mail us for enquiry of product.</p>
			
			<p><b>Que3: Can I track the order – what is procedure?</b></p>
			<p><b>Ans. </b>You can track the status of order by call directly with the help of unique order code no. (mentioned in order confirmation page) Which has been sent by company to customer after placing the order</p>
			
			<p><b>Que4: Is there extra cost for loading, un–loading , packing ,quick delivery , delivery at night &  different place?</b></p>
			<p><b>Ans. </b>Yes, As per customer needs, our company arranges all services as requested by customer and it will be charged accordingly</p>

			<p><b>Que5: What is the estimate time of delivery of product after placing  the order?</b></p>
			<p><b>Ans. </b>Each product estimated delivery time will be mentioned in the order confirmation copy (if there is any change, it will be informed by company to concern person) Before dispatching of equipment our executive will confirm the delivery place & concern person.</p>

			<p><b>Que6: what is warranty criteria of stainless steel & ferrous equipment?</b></p>
			<p><b>Ans. </b>It depends on the product & also mentioned in Performa  invoice/confirmation order e-copy of product will be sent by company after placing the order by customer.</p>

			<p><b>Que7: Is there provision of the site visit by the technical executive person , for company work related issues?</b></p>
			<p><b>Ans. </b>Yes, you can fix the appointment for any company work related issue , it will be free of cost (depends upon the work).</p>

			<p><b>Que8:May I change/discuss on the product specification?</b></p>
			<p><b>Ans. </b>Yes you can develop the product as per your requirement  and you can change the specification – accordingly prices will be change </p>

			<p><b>Que9: Is there provision of bulk order of equipment?</b></p>
			<p><b>Ans. </b>Yes , you can fix the meeting as per your requirement and we will arrange the accordingly</p>

			<p><b>Que10: what is the consultancy fee?</b></p>
			<p><b>Ans. </b>There is no any charges for enquiry & also It depends upon the project and work</p>

			<p><b>Que11: Is there provision of imported equipment order?</b></p>
			<p><b>Ans. </b>As per customer requested , our company provides the offer for imported & bought out equipment</p>

			<p><b>Que12: Can I cancel the order?</b></p>
			<p><b>Ans. </b>Yes , any time you can call followed by order cancellation mail for cancelling the order</p>

			<p><b>Que13:  Are there any hidden charges (Octroi or Sales Tax) when I shop?</b></p>
			<p><b>Ans. </b>No, there is no any hidden charges ,all charges will be mentioned in the Performa invoice or order confirmation pages</p>
		</div>