<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="text-center">Thank You!</h1>
    <h1 class="text-center"><i class="fa fa-check"></i></h1>
    <h3 class="text-center">We will be getting in touch with you shortly</h3>
    <p class="text-center"> Our experienced consultant are available over the phone to help you in navigating the process. If in hurry, call us @+91-9650465689.</p>
    <p class="text-center">You can mail us at support@sdtTechnology.com</p>
    <p class="text-center" ng-click="buyEquipmentpage()"><a href="javascript:void(0)">continue shopping</a></p>
</div>