<ui-view>
	<div class="side-nav-products-and-offer-container">
		<div class="products-heading text-center">
			<big>{{buyEquipmentStaticData.pageHeading}}</big>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3  col-xs-12">
			<h3>{{buyEquipmentStaticData.filterSection.heading}}</h3>
			<ul class="list-group other-categories">
				<li filter-selection ng-repeat="category in buyEquipmentStaticData.filterSection.categoryList" class="list-group-item" ng-class="$index == 0?'active':''" ng-click="filterData(category['filter-code'])">
					<span data-filterCode="{{category['filter-code']}}">{{category['filter-text']}}</span>
				</li>
			</ul>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<div class="category-products">
				<!-- category products starts here -->
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 product" ng-repeat="product in productList">
					<div class="prod_img_con">
						<cl-image public-id="{{product.productImageURL}}" ></cl-image>
					</div>
					<div class="product-feature-description">
						<p class="main-heading">
							<big>{{product.name}}</big>
						</p>
						<p class="sub-heading">{{product.built_material}}</p>
						<p class="price"><b>Price: </b>{{product.productPrice}} Rs.</p>
						<p><b>productId: </b>{{product.productID}}</p>
						<div class="price-n-action">
							<button class="btn btn-block btn-desc" ui-sref="layout.equipments.productDesciption({productId :'{{product.productID}}'})">See Description & Buy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ui-view>