<h1>All Modular Design order requests received</h1>
<div class="panel-group">
  <div class="panel panel-default" ng-repeat="order in modularKitchenOrders">
      <div class="panel-heading">
        <big>
          <b>{{$index+1}}. Request Id : {{order.username+'_'+order.userContact}}</b>
        </big>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Requestor Name</td>
              <td>{{order.username}}</td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td>{{order.userContact}}</td>
            </tr>
            <tr>
                <td>Dimension of kitchen</td>
                <td>{{order.kitchenAreaDimension}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b> Product Description-</b>
                    <p>{{order.productDescription}}</p>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-danger">Delete This Order</button>
      </div>
    </div>
</div>