<h1>Orders</h1>
<div class="panel-group">
  <div class="panel panel-default" ng-repeat="order in orders">
      <div class="panel-heading">
        <big>
          <b>Order Id : {{order.productID+'_'+order.contact}}</b>
        </big>
        <big style="float:right"><b>Price: <i>{{order.productPrice}}</i> Rs</b></big>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>product Id</td>
              <td>{{order.productID}}</td>
            </tr>
            <tr>
              <td>Customer Name</td>
              <td>{{order.name}}</td>
            </tr>
            <tr>
              <td>Contact Number</td>
              <td>{{order.contact}}</td>
            </tr>
            <tr>
              <td>Customer enail id </td>
              <td>{{order.mail}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-danger">Delete This Order</button>
      </div>
    </div>
</div>